.hat {
  position: relative;
  bottom: 375px;
  left: 620px;
  z-index: 1;
}

.octopus {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.glasses {
position: relative;
  bottom: 297px;
  left: 400px;
  z-index: 1;
}